---
layout: welcome
---

<p>This site is inspired by Michael Hobbes' <a href="http://rottenindenmark.wordpress.com/2012/01/03/my-hometown-is-better-than-yours/">hilarious blog post on Seattle</a>.</p>

<p>This website is <strong>open-source</strong> and <a href="https://github.com/awendt/hometown">hosted on GitHub</a>. Comments, suggestions and other contributions (copy, design, whatever) are welcome.</p>

<p>If you feel <em>your</em> hometown is objectively superior to any other place, please <a href="https://github.com/awendt/hometown/blob/master/README.md#how-to-contribute">contribute to this website</a>!

<hr>

<!-- <nav> -->
  <h3>Currently available:</h3>
  <ul class="square add-bottom">
    {% for post in site.posts %}
      {% assign current = nil %}
      {% if page.url == post.url %}
        {% assign current = 'current' %}
      {% endif %}
      <li class="{{ current }}">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
<!-- </nav> -->