<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head prefix="og: http://ogp.me/ns#">

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>My Hometown is better than yours: {{ page.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="image_src" href="/images/seattle/img_2503.jpg" />
  <meta property="og:image" content="/images/seattle/img_2503.jpg" />

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/hometown.css">

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

</head>
<body>



  <!-- Primary Page Layout
  ================================================== -->

  <!-- Delete everything in this .container and get started on your own site! -->

  <div class="container">
    <div class="sixteen columns">
      <header>
        <h1>My Hometown Is Better Than Yours</h1>
      </header>
      <hr />
    </div>
    <div class="three columns sidebar">
      <nav>
        <h3 id="logo">Cities</h3>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          {% for post in site.posts %}
            {% assign current = nil %}
            {% if page.url == post.url %}
              {% assign current = 'current' %}
            {% endif %}
            <li class="{{ current }}">
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
          <li>
            <a href="https://github.com/awendt/hometown">Add your hometown!</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="twelve columns offset-by-one content">
      {{ content }}
    </div>
  </div><!-- container -->

<!-- End Document
================================================== -->
</body>
</html>